html, body{
    height: 100%;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    background:#ffffff;
    min-height:100vh;
    display: flex;
    flex-direction: column;
}

.hero{
    position:relative;
    overflow: hidden;
    min-height:600px;
    background:#f5f5f5;
    transform: translateY(20%);
    padding-top: 100px; 

    display:flex;
    justify-content:center;
    align-items:center;
}

.hero-content{
    position:relative;
    z-index:2;
    text-align:center;
    font-size: 21px;
}

.hero-h{
    position:relative;
    text-align:center;
    font-size: 21px;
    transform: translateY(-95px);
}

.hero-p{
    position:relative;
    text-align:center;
    font-size: 21px;
    transform: translateY(-75px);
}

/* NAVBAR */
.navbar{
    width:95%;
    margin:30px auto;
    background:#ffffff;

    border-radius:20px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:18px 40px;

    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.navbar-logo{
    font-size:28px;
    font-weight:700;
    color:#222;
}

.navbar-menu{
    display:flex;
    list-style:none;
    gap:40px;
}

.navbar-menu a{
    text-decoration:none;
    color:#222;
    font-weight:500;
}

.navbar-contact a{
    text-decoration:none;

    background:#000000;
    color:#ffffff;

    padding:12px 28px;
    border-radius:999px;

    font-weight:600;
}

/* FOOTER */
.footer{
    width: 100%;
    background: #000000;
    padding: 60px;

    margin-top: 200px;
}

.footer-container{
    display: flex;
    justify-content: center;
    gap: 15%;
}

.footer-left{
    width:220px;
}

.footer-image{
    width:180px;
    height:180px;
    background:white;

    display:flex;
    justify-content:center;
    align-items:center;
}

.footer-image img{
    width:120px;
}

.footer-social{
    margin-top:15px;
    display:flex;
    gap:15px;
}

.footer-social a{
    text-decoration:none;
    color:white;
    font-weight:600;
}

.footer-brand h2{
    color:white;
    font-size:48px;
    font-family:Georgia, serif;
    font-weight:400;
}

.footer-links{
    display:flex;
    gap:80px;
}

.footer-links div{
    display:flex;
    flex-direction:column;
}

.footer-links h4{
    color:white;
    margin-bottom:15px;
    letter-spacing:1px;
}

.footer-links a{
    text-decoration:none;
    color:#efefef;
    margin-bottom:8px;
    font-size:14px;
}

.footer-bottom{
    text-align:center;
    color:white;
    transform: translateY(27px);
    margin-top:20px;
    font-size:13px;
}

/* ARTISANTZ BACKGROUND */
.artisantz-bg{
    position:absolute;
    inset:0;
    z-index:0;

    display:flex;
    flex-direction:column;
}
.artisantz-bg .row{
    flex:1;
    overflow:hidden;
    position:relative;
}
.artisantz-bg span{
    display:inline-block;
    font-size:120px;
    font-weight:900;
    white-space:nowrap;

    color:transparent;
    -webkit-text-stroke:1px #d9d9d9;
}



.artisantz-bg .row:nth-child(1) span{ transform: translateX(0%); }
.artisantz-bg .row:nth-child(2) span{ transform: translateX(-15%); }
.artisantz-bg .row:nth-child(3) span{ transform: translateX(-30%); }
.artisantz-bg .row:nth-child(4) span{ transform: translateX(-45%); }